#plans-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 26px 0px;
    padding: 15px 0px 51px 0px;
    background: #9D2926;
    height: fit-content;

    h2{
        display: flex;
        flex-direction: column;
        align-items: center;

        #nossos-word{
            font-size: 26px;
            color: white;
        }

        #planos-word{
            font-size: 38px;
            color: #EBAE00;
        }
    }
}

#carrosel{
    display: flex;
    position: relative;
    background: green;
    gap: 192px;
    width: fit-content;
    margin: 0px 25%;



    #carrosel1:checked ~ .first{
        margin-left: calc((-96px * 2) - 200px);
    }

    #carrosel2:checked ~ .first{
        margin-left: calc((-96px * 4) - 400px);
    }

    #seta{
        display: flex;
        position: absolute;
        left: calc(200px + 15px);
        align-items: center;
        /* background: blue; */
        width: 32px;
        height: 100%;

        img{
            width: 32px;
            height: 32px;
        }
    }
}